<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
    <link rel="stylesheet" href="/static/css/chat.css">
</head>
<body>
    <div id="mySidenav" class="sidenav">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
        <a href="#">Chat</a> <!-- No need for link, we be here -->
        <a href="about.html">About</a>
        <a href="settings.html">Settings</a>
    </div>
    <div id="top-bar">
        <span onclick="openNav()">&#9776;</span>
        Chat Room
    </div>
    <div id="chat-box">
        <ul id="messages">
            {% for message in messages %}
                <li>{{ message|safe }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="chat-input">
        <input type="text" id="messageInput" placeholder="Type your message..." autocomplete="off" autofocus>
        <button id="sendButton">Send</button>
    </div>
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script src="/static/js/chat.js"></script>
</body>
</html>
